body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3, p {
  padding: 0;
  margin: 0;
}

.message-container {
  background-color: lightblue;
  border-radius: 5px;
  padding: 4px;
  margin: 30px;
}

.input-container {
  width: 50%;
  height: 50px;
  background-color: whitesmoke;
  margin: 5px 0px;
}

.input-container input {
  width: 99%;
  height: 88%;
  font-size: 13px;
}

.submit-container input {
  width: 100px;
}